<div class="container-contact100">
  <div class="wrap-contact100">
    
      
      <%= form_with(model: @contact, remote: true, url: { action: "create" }, class:"contact100-form validate-form") do |form| %> 
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <span class="language">
        <ul class="changelanguage">
          <li class="btn btn-warning btn-sm"><%= link_to 'English', root_path(locale: :en) %></li>
          <li class="btn btn-primary btn-sm"><%= link_to 'Russian', root_path(locale: :ru) %></li>
        </ul>
      </span>
      <span class="contact100-form-title">
        <%= t('views.contacts.send_message') %>
        <% if flash[:notice] %>
          <%= content_tag :div,  t('views.contacts.msg'), class: "alert alert-success" %>
        <% end %>
      </span>
      <%= form.label :firstname, t('views.contacts.nameLabel'), class:"label-input100" %>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="<%= t ('views.contacts.fnameValidate') %>" >
        <%= form.text_field :firstname, class:"input100", placeholder: t('views.contacts.fnamePlaceHolder') %>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="<%= t ('views.contacts.lNameValidate') %>">
        <%= form.text_field :lastname, class:"input100", placeholder: t('views.contacts.lNamePlaceHolder') %>
        <span class="focus-input100"></span>
      </div>
      <%= form.label :email, t('views.contacts.mailLabel'), class:"label-input100" %>
      <div class="wrap-input100 validate-input" data-validate = "<%= t ('views.contacts.emailValidate') %>">
        <%= form.text_field :email, class:"input100", placeholder: t('views.contacts.emailPlaceholder') %>
        <span class="focus-input100"></span>
      </div>
      <%= form.label :phonenumber, t('views.contacts.phoneLabel'), class:"label-input100" %>
      <div class="wrap-input100">
        <%= form.text_field :phonenumber, class:"input100", placeholder: t('views.contacts.phonPlaceHolder') %>
        <span class="focus-input100"></span>
      </div>
      <%= form.label :message, t('views.contacts.messageLabel'), class:"label-input100" %>
      <div class="wrap-input100 validate-input" data-validate = "<%= t ('views.contacts.messageValidate') %>">
        <%= form.text_area :message, size: "60x5" , class:"input100", placeholder: t('views.contacts.messagePlaceHolder') %>
        <span class="focus-input100"></span>
      </div>
      <div class="container-contact100-form-btn">
        <%= form.button t('views.contacts.buttonDesc'),class:"contact100-form-btn"%>
      </div>
    <% end %>
    <div class="contact100-more flex-col-c-m">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>
        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t('views.contacts.compAddress')%>
          </span>
          <span class="txt2">
            <%= t('views.contacts.companyAddDetails')%>
          </span>
        </div>
      </div>
      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>
        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t('views.contacts.letsTalk')%>
          </span>
          <span class="txt3">
            <%= t('views.contacts.talkNumber')%>
          </span>
        </div>
      </div>
      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>
        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t('views.contacts.generalSupp')%>
          </span>
          <span class="txt3">
            <%= t('views.contacts.contactAt')%>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>